*~
.ships
.demo*
dist-newstyle/
.multi
plunder.cabal
scratch
.stack-work/
*.swp
TAGS
.ting
.tmp.sire
.direnv/
result
result-*
tags
sire.cache
.fulltag-demo
etc/documentation-site-gen/node_modules
etc/documentation-site-gen/package-lock.json
etc/documentation-site-gen/build
etc/documentation-site-gen/.docusaurus
